html {
	background-color: #608699;
	line-height: 1.7;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: 'PTSans', Arial, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

.show-large {
	display: none;
}

.section {
	padding: 0;
}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
	overflow: hidden;
}

.container--fluid {
	max-width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

@media screen and (min-width: 767px) {

	.section {
		padding-left: 40px;
		padding-right: 40px;
	}

}




@media screen and (min-width: 767px) {

	.show-large {
		display: block;
	}

	.container--fluid {
		max-width: 960px;
		margin: 0 auto;
		padding: 0 20px;
	}

}

@media screen and (min-width: 1023px) {

	.container {
		max-width: 1000px;
	}

	.container--fluid {
		max-width: 1000px;
	}

	body {
		font-size: 16px;
	}
}

@media screen and (min-width: 1280px) {



	.container {
		max-width: 1200px;
	}
	
	.container--fluid {
		max-width: 1200px;
	}
}